@import '../../../scss/button.scss';
@import '../../colors.scss';

.Common{
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    button{
        @include button($red-color,200px,30px);
            display: block;
            margin: 15px auto 0 auto;
    }
    h2{
        margin-bottom: 20px;
    }
   
    label{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 0 auto;
        span{
            display: none;
        }
    }
    div{
        margin-bottom: 50px;
    }
    .Settings__Timezone{
        label{
            position: relative;
            cursor: pointer;
            padding-right: 35px;
        }
        label.withDelMode span{
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 2px solid rgba(38,49,55,.5);
            border-radius: 50%;
            position: absolute;
            right: 0;
            top: 7px;
            font-size: 25px;
            color: rgba(38,49,55,.5);
            line-height: 16px;
            text-align: center;
        }
    }
}