@import '../../../../colors.scss';
.table-wrapper{
    position: relative;
    .Resizer__Vertical{
        bottom: 0px;
        height: 12px;
        background:  $grey-color;
    }
}
.Modules_table{
    // tr:first-child {
    //     text-align: center;
    // }
// .Table__acs_castle_ep2_event,.Table-header__acs_castle_ep2_event{
   td {
        padding-left: 5px;
    }
        // td:nth-of-type(2){   128 12  92 678  114
        //     width: 25px;
        // }

}
.Table__onSettings {
    tr:first-child {
        height: 35px;
        cursor: pointer;
        td {
            position: relative;
        }
        td img {
            width: 13px;
        }
        td span {
            margin-right: 5px;
        }
        td:hover {
            background:  $red-color;
        }
    }

}
.logs-table__header{
    td{
        cursor: pointer;
        
    }
    td:last-child{
        padding-right: 15px;
    }
}
.logs-table__arrow{
    z-index: -1;
    position: relative;
    top: 2px;
    width: 10px;
}

.logs-table__arrow_up{
    transform: rotate(-90deg);
}
.logs-table__arrow_down{
    transform: rotate(90deg);
}