@import '../../../../colors.scss';
.table-wrapper{
    position: relative;
    .Resizer__Vertical{
        bottom: 0px;
        height: 12px;
        background:  $grey-color;
    }
}
.Modules_table{
    // tr:first-child {
    //     text-align: center;
    // }
// .Table__acs_castle_ep2_event,.Table-header__acs_castle_ep2_event{
   td {
        padding-left: 5px;
    }
        // td:nth-of-type(2){   128 12  92 678  114
        //     width: 25px;
        // }

}
.Table__onSettings {
    tr:first-child {
        height: 35px;
        cursor: pointer;
        td {
            position: relative;
        }
        td img {
            width: 13px;
        }
        td span {
            margin-right: 5px;
        }
        td:hover {
            background:  $red-color;
        }
    }

}
.logs-table__header{
    td{
        cursor: pointer;
        
    }
    td:last-child{
        padding-right: 15px;
    }
}
.logs-table__arrow{
    // z-index: -1;
    position: relative;
    top: 2px;
    width: 10px;
}
.logs-table__elemOnRedact{
    img{
        display: none;
    }
}
.logs-table__elemOnRedact:hover{
    // text-align: center;
    padding-left: 30px;
    box-sizing: border-box;
    color: white;
    .logs-table__arrow-right,.logs-table__arrow-left{
        position: absolute;
        width: 25px;
        height: 25px;
        top: 5px;
    }
    .logs-table__arrow-right::before,.logs-table__arrow-left::before{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-left: none;
        border-bottom: none;
        top: 6px;
        position: absolute;
    }
    .logs-table__arrow-right{
        right: 4px;
    }
    .logs-table__arrow-left{
        left: 4px;
    }
    .logs-table__arrow-right::before{
        transform: rotate(45deg);
        right: 6px;
    }
    .logs-table__arrow-left::before{
        transform: rotate(-135deg);
        left: 6px;
    }
    // img{
    //     display: inline;
    // }
    // img.logs-table__arrow-right{
    //     transform: rotate(-180deg);
    //     width: 14px;
    //     position: absolute;
    //     right: 5px;
    // }
    // img.logs-table__arrow-left{
    //     position: absolute;
    //     left: 5px;
    // }
}
.logs-table__arrow_up{
    transform: rotate(-90deg);
}
.logs-table__arrow_down{
    transform: rotate(90deg);
}