.Table__acs_castle_ep2_userlog{

}
.Modules_table{
// .Table__acs_castle_ep2_event,.Table-header__acs_castle_ep2_event{
   td {
        
        // overflow: hidden;
        padding-left: 5px;
        // display: inline-block;
        // white-space: nowrap;
    }
        // td:nth-of-type(1){
        //     width: 135px;
        // }
        // td:nth-of-type(4){
        //     width: 190px;
        // }
        td:nth-of-type(2){
            width: 25px;
        }
        // td:nth-of-type(3){
        //     width: 190px;
        // }
        // td:nth-of-type(5){
        //     display: table-cell;
        //     // width: 110px;
        // }
        // td:nth-of-type(6){
        //     width: 100px;
        //     white-space: nowrap;
        //     padding-right: 8px;
        // }
        // td:nth-of-type(7){
        //     width: 180px;
        // }
}
@import '../../../../colors.scss';
.logs-table__header{
    td{
        cursor: pointer;
        
    }
    td:last-child{
        padding-right: 15px;
    }
}
.logs-table__arrow{
    z-index: -1;
    position: relative;
    top: 2px;
    width: 10px;
}

.logs-table__arrow_up{
    transform: rotate(-90deg);
}
.logs-table__arrow_down{
    transform: rotate(90deg);
}