@import '../../../colors.scss';
.Modules_table {
    tr.Modules_table__current {
        // background-color: red($color: #e93131b2);
        background-color:  #ec1c234f;
    }
    
}

.Modules_table_devices-events{
    .multi-select{
        width: 90%;
    }
}
// .Modules_table_user-events{
   
// }
.Modules-table__empty{
    width: 190px;
    margin: 0px 10px 20px 0px;
    position: relative;
    z-index: -1;
}

.Modules-table__empty::after{
    content: "События с данными параметрами не найдены...";
    position: absolute;
    font-size: 24px;
    width: 500px;
    left: 225px;
    top: 18px;
}
.dashboard-wrapper_table {
    width: 100%;
    // background-color: darkgoldenrod;
    height: fit-content;
    // & >.Resizer{
    //     margin: 0 0 15px 0;
    // }
    .dashboard-wrapper__settings-cont {
        .collapser {
            margin-right: 8px;
            cursor: pointer;
            position: relative;
        }
        .collapser::after {
            position: absolute;
            width: 100%;
            height: 4px;
            bottom: 4px;
            background-color: white;
            content: '';
        }
        &>span{
            &>img{
                top: 6px;
            }
        }
    }
    // .ChangedInput {
    //     margin-right: 35px;
    //     img {
    //         right: -30px;
    //         top: -2px;
    //     }
    // }
}
.dashboard-wrapper{
//    background-color: blue;
    .Common__header{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .settings-icon {
            height: 25px;
            position: relative;
            top: 3px;
        }
        &>div{
            
            &>span{
                height: 20px;
            }
            &>img{
                margin-right: 10px;
            }
            &>span{
                margin-right: 15px;
            }
        }
        .dashboard-wrapper__settings-cont{
            display: flex;
            &>span{
                position: relative;
            padding-right: 20px;
            height: 100%;
            line-height: 200%;
            &>img{
                position: absolute;
            }
           
            }
        
        }
    }
    .pages-bar, .showed-logs{
        display: inline-flex;
        li{
            width: 25px;
            text-align: center;
            cursor: pointer;
            position: relative;
        }
        
        .pages-bar__ellipsis{
            cursor: auto;
        }

        .pages-bar__curr-page, .showed-logs__current{
            color: $white-color;
        }
        .pages-bar__curr-page::before, .showed-logs__current::before{
            content: '';
            position: absolute;
            display: block;
            background-color: $red-color;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            right: -4%;
            top: -20%;
            z-index: -1;
        }
    }
    .pages-bar{
        margin-left: auto;
    }
    .showed-logs{
        margin-left: 85px;
        // ,li:nth-child(4)
        li:nth-child(2),li:nth-child(3){
            margin-right: 8px;
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        flex-wrap: wrap;
        margin-top: 15px;
        .showed-logs::before{
            content: 'Количество логов на странице: ';
            margin-right: 10px;
        }
        .additional-info{
            margin-top: 20px;
            overflow: auto;
            width: 100%;
            h2{
                margin:0 0 8px 0;
            }
            ul{
                // height: 100px;
                span{
                    font-weight: bold;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .dashboard-wrapper_table .Common__header{
        .dashboard-wrapper__settings-cont{
            margin-left: auto;
        }
    }
   
}