@import '../../../colors.scss';
.Modules_table{
    
    tr.Modules_table__current{
        // background-color: red($color: #e93131b2);
        background-color:  #ec1c234f;
    }
    
}
.Modules_table_devices-events{
    .multi-select{
        width: 90%;
    }
}
.Modules_table_user-events{
    .multi-select{
        width: 90%;
    }
}
.Modules-table__empty{
    width: 190px;
    margin: 20px;
    position: relative;
    z-index: -1;
}

.Modules-table__empty::after{
    content: "События с данными параметрами не найдены...";
    position: absolute;
    font-size: 24px;
    width: 500px;
    left: 225px;
    top: 18px;
}
.logs-table-wrapper{
   
    .pages-bar, .showed-logs{
        display: inline-flex;
        li{
            width: 25px;
            text-align: center;
            cursor: pointer;
            position: relative;
        }
        
        .pages-bar__ellipsis{
            cursor: auto;
        }

        .pages-bar__curr-page, .showed-logs__current{
            color: $white-color;
        }
        .pages-bar__curr-page::before, .showed-logs__current::before{
            content: '';
            position: absolute;
            display: block;
            background-color: $red-color;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            right: -4%;
            top: -20%;
            z-index: -1;
        }
    }
    .pages-bar{
        margin-left: auto;
    }
    .showed-logs{
        margin-left: 85px;
        // ,li:nth-child(4)
        li:nth-child(2),li:nth-child(3){
            margin-right: 8px;
        }
    }
    footer{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        flex-wrap: wrap;
        .showed-logs::before{
            content: 'Количество логов на странице: ';
            margin-right: 10px;
        }
        .additional-info{
            width: 100%;
        }
    }
}