.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.saver__wait,.pdf__wait,.param-filter-panel__collapsed,.markAsRead__wait{
  cursor: pointer;
  position: absolute;
}
.saver__wait{
  width: 20px;
  right: 40px;
  top: 7px;
}
.pdf__wait{
  top: 5px;
  right: 8px;
  width: 24px;
}
.markAsRead__wait{
  right: 110px;
  &>img{
    position: relative;
    width: 20px;
    right: -7px;
    top: 3px;
  }
}
.param-filter-panel__collapsed{
  right: 70px;
  top: 8px;
}