@import '../../colors.scss';

.Settings__modules{
    display: flex;
    
}
.Settings__infoHandler{
    width: 100%;
}

.Modules_table{
    width: 100%;
    border-spacing: 0;
    tr:nth-child(2n){
        background-color: $lightGrey-color;
    }
    img{
        cursor: pointer;
    }
}