@import '../../colors.scss';
@import '../../../scss/button.scss';
.Settings__modules{
    display: flex;
    button{
        @include button($red-color,120px,30px);
    }
}
.Settings__infoHandler{
    width: 100%;
}

.Modules_table{
    width: 100%;
    border-spacing: 0;
    tr:nth-child(2n){
        background-color: $lightGrey-color;
    }
    img{
        cursor: pointer;
    }
}

