@import '../../colors.scss';
@import '../../../scss/button.scss';
.Settings__modules{
    display: flex;
    .Modules_table {
        td.icon{
            width: 40px;
        }
    }
    button{
        @include button($red-color,120px,30px);
    }
}
.Settings__infoHandler{
    width: 100%;
}



