.upload-time-setter{
    display: inline;
    position: relative;
    span{
        cursor: pointer;
    }
    .upload-time-setter__settings{
        background: #fff;
        position: absolute;
        right: -97px;
        bottom: -127px;
        color: #000;
        width: 300px;
        border: 1px solid grey;
        z-index: 3;
    
        input[type=number]{width: 45px;}
    }
    label{
        display: block;
    }
    select{
        width: 80px;
    }
}
.upload-time-setter__collapsed{
    cursor: pointer;
}