@import '../../colors.scss';
.Header__UserPanel{
border-left: 2px solid $white-color;
border-right: 2px solid $white-color;
cursor: pointer;
width: 320px;
height: 55px;
padding: 0 0 0 27px;
box-sizing: border-box;
text-align: center;
display: flex;
z-index: 2;
align-items: center;
background: $grey-color;
img{
    margin-right: 20px;
}
span{
    font-size: 30px;
    
}
.Header__ButtDown{
    background: inherit;
    width: 14px;
    height: 14px;
    border: none;
    border-left: 3px solid $white-color;
    border-bottom: 3px solid $white-color;
    transform: rotate(-45deg);
    margin-left: 14px;

}
}
.Header__UserPanel_opened{
    height: 150px;
    flex-direction: column;
}