main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .Visio {
        margin-bottom: 10px;
        width: 100%;
    }
    .Sett {
        margin-bottom: 20px;
        width: 100%;
    }
    .modal-form__dashCreator form{
        select {
            margin: 10px 0 20px;
        }
        height: 295px;
        h3 {
            width: 450px;
            text-align: center;
        }
        input, select {
            display: block;
            width: 300px;
        }
        input, h3, select {
            margin-right: auto;
            margin-left: auto;
        }
    }
}