.Modules_table.Modules_table-logs{
    
    tr.Modules_table__current{
        // background-color: red($color: #e93131b2);
        background-color:  #ec1c234f;
    }
    
}
.Modules-table__empty{
    width: 190px;
    margin: 20px;
    position: relative;
   
}
.Modules_table.Modules_table-logs{
    td:nth-of-type(1){
        width: 145px;
    }
    td:nth-of-type(4){
        width: 130px;
    }
    td:nth-of-type(2){
        width: 105px;
    }
    td:nth-of-type(3){
        width: 140px;
    }
    td:nth-of-type(5){
        width: 110px;
    }
    td:nth-of-type(6){
        width: 80px;
        white-space: nowrap;
        padding-right: 8px;
    }
    td:nth-of-type(7){
        width: 150px;
    }
}
.Modules-table__empty::after{
    content: "События с данными параметрами не найдены...";
    position: absolute;
    font-size: 24px;
    width: 500px;
    left: 225px;
    top: 18px;
}