@import '../../../colors.scss';
.Common__mainMenuItem{
    div{
        background-color: $lightGrey-color;
        height: 196px;
        padding: 28px 0 0 47px;
        font-size: 18px;
        font-weight: 600;
       
    }
    
}