@import '../../colors.scss';
@import '../../../scss/button.scss';
.Settings__email{
    position: relative;
    .comment:hover::after{
        left: -130%;
        top: 130%;
    }
    &>div{
        width: 800px;
        margin: 0 auto 0 auto;
        .scroll{
            padding: 0px 0 40px 0px;
            border: 1px solid $grey-color;
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 200px;
            .icon{
            }
        }
        button{
            margin: 0 0 10px 10px ;
            @include button($red-color,90px,25px);
        }
        &>button{
            margin-top: 10px;
        }
    }
    .modal-form-keeper{
        width: 100%;
        &>div{
            width: 600px;
            margin: 0 auto;
        }
    }
    .modal-form-keeper{
        form, header{
            // width: inherit;
            margin: 0 auto;
        }
        .multi-select{
            width: 290px;
        }
        form{
            width: inherit;//500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 10px;
            padding: 10px 0 0 0;
            box-sizing: border-box;
            height: 100px;
            justify-content: space-between;
            label{
                width: 370px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &>input, select {
                width: 200px;
            }
            input[type='submit']{
                @include button($red-color,90px,25px);
            }
        }
        form.modal-form__adresses{
            input[type='text']{
                width: 285px;
            }   
            label{
                width: 420px;
            }
        }
    }
    .event-panel{
        .modal-form{
            &>label, &>div{
                width: 400px;
                margin: 0 auto 15px auto;
            }
        }
    }
    
    .event-panel,.param-filter-panel{
        &>div, &>header{
            margin: 0 auto;
        }
        &>div {
            box-shadow: 0 3px 6px rgba(0,0,0,.15), 0 1px 6px rgba(0,0,0,.1);
            width: 900px;
            &>div {
                padding: 10px 0 0 10px;
            }
            select{
                width: 175px;
            }
        }
    }
    .param-filter-panel{
        // position: relative;
        header {
            height: 30px;
            box-sizing: border-box;
            span {
                img {
                    height: 15px;
                    margin-top: 2px;
                }
            }
            button {
                width: 20px;
                img{
                    height: 15px;
                }
                margin: 0;
            }
        }   
        .wrapper {
            // width: 500px;
        }
        .buttons-wrapper {
            width: 300px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }
        
    }
    // .param-filter-panel__empty::after{
    //     content:'Фильтр не настроен';
    //     position: absolute;


    // }
    table{
        width: 100%;
        td:first-of-type {
            max-width: 160px;
        }
    }
    &>div:first-child {
        margin-top: 20px;
        p{
            margin: 0 0 20px 10px;
        }
        label {
            span {
                display: inline-block;
                margin-right: 15px;
            }
            input {
                width: 120px;
            }
        }
    }
}