.Sett{
    // ul{
    //     display: flex;
    //     flex-wrap: wrap;
    //     justify-content: space-evenly;
    // }
    // li{
    //     width: 21%;
    //     height: 100px;
    // }
    .Common__mainMenuItem{
        div{
            padding: 20px 0 0 20px;
            height: 50px;
        }
    }
    ul{
        padding: 17px 29px 12px 19px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: left
    }
    li{
        width: 23.5%;
        box-shadow: 0 3px 6px rgba(0,0,0,.15), 0 1px 6px rgba(0,0,0,.1);
        margin-right: 1.1%;
        margin-bottom: 20px;
    }
}