@import '../colors.scss';
.Header{
    width: 100%;
    height: 98px;
    background-color: $grey-color;
    display: flex;
    padding: 11px 0.5% 15px 2.1%;
    box-sizing: border-box;
    color: $white-color;
    position: relative;
    .Header__infoPanel{
        display: flex;
        width: 490px;
        .Header__AverEvents{
            margin: 3px 56px 0 0;
        }
        .Header__UserPanel{
            margin: 4px 26px 0 0;
        }
    }
}
.Header::after{
    content: '';
    height: 12px;
    width: 100%;
    display: block;
    background-color: $red-color;
    position: absolute;
    bottom:0px;
    left:0px;
}
.header__logo{
    width: 177px;
    height: 50px;
    position: relative;
    top: 7px;
    margin-right: auto;
}
