$grey-color: rgb(38, 49, 55);
$red-color: #ec1c24;
$green-color: rgb(8, 112, 17);
$white-color: rgb(250, 249, 249);
$lightGrey-color: #e0e0e0;
$lightGreyText-color: #818184;
$yell-label-color: #fff600;
$green-label-color: #00ff0c;
$red-label-color: #ff0000;
$black: black;
$grey-form-color: rgba(38, 49, 55, 0.5);
