@import '../../../colors.scss';
@import '../../../../scss/label.scss';
.Common__mainMenuItem{
    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    span{
        display: inline-block;
        // margin-right: 3px;
    }
    .mini{
        font-size: 16px;
    }
    span:nth-child(2),span:nth-child(3),span:nth-child(4){
        margin-right: 3px;
    }
    span:nth-child(1){
        margin-right: auto;
   }
    .label0{
        @include label($green-label-color,42px,25px,18px);
   }
   .label1{
        @include label($yell-label-color,42px,25px,18px);
    }
    .label2{
        @include label($red-label-color,42px,25px,18px);
    }
    div{
        background-color: $lightGrey-color;
        height: 196px;
        padding: 28px 0 0 47px;
        font-size: 18px;
        font-weight: 600;
    }
    
}