@import '../../../colors.scss';
@import '../../../../scss/label.scss';
.Common__mainMenuItem{
    header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    span{
        display: inline-block;
        // margin-right: 3px;
    }
    h3{
        margin-top: 10px;
    }
    .mini{
        font-size: 0.8em;
        margin-bottom: 10px;
        display: block;
    }
    span:nth-child(2),span:nth-child(3),span:nth-child(4){
        margin-right: 3px;
    }
    span:nth-child(1){
        margin-right: auto;
   }
    .label0{
        @include label($green-label-color,42px,25px,18px);
   }
   .label1{
        @include label($yell-label-color,42px,25px,18px);
    }
    .label2, .label5{
        @include label($red-label-color,42px,25px,18px);
    }
    div{
        background-color: $lightGrey-color;
        height: 225px;
        font-size: 1em;
        font-weight: 600;
        ul{
            padding: 5px;
            height: 200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li{padding: 10px 0 10px 10px;}
            li:hover{
                cursor: pointer;
                background-color: $lightGreyText-color-hover;
                color: white;
                border-radius: 10px;
            }
        }
        ul:hover{
            overflow-y: scroll;
        }
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 160px;
        height: 160px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 128px;
        height:128px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    
}
.Common__mainMenuItem_centered div{
    display: flex;
    justify-content: center;
    align-items: center;
}