@import '../../../scss/button.scss';
@import '../../colors.scss';
.Settings__lic{
    padding: 50px 0 0 0;
    
    form{
        width: 400px;
        margin: 0 auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        input[type=submit]{
            @include button($red-color,230px,40px);
            display: block;
            margin: 0 auto;
        }
        input[type=file]{
            display: none;
        }
        label{
            @include button($red-color,150px,30px);
            display: inline-block;
            margin-left: 15px;
        }
        p{
            font-size: 18px;
        }
        p:nth-child(7){
            display: flex;
            align-items: center;
        }
    }

}

// background-color: #ff0000;
// height: 40px;
// width: 230px;
// border-radius: 8px;
// border: none;
// color: white;
// font-size: 20px;