@import '../../../scss/button.scss';
@import '../../colors.scss';
.Settings__lic{
    padding: 50px 0 0 0;
    
    form{
        width: 400px;
        margin: 0 auto;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        input[type=submit]{
            @include button($red-color,80px,25px);
            display: block;
            margin: 0 auto;
        }
        input[type=file]{
            display: none;
        }
        label{
            @include button($red-color,110px,25px);
            display: inline-block;
            margin-left: 15px;
        }
        p{
            font-size: 18px;
        }
        p:nth-child(7){
            display: flex;
            align-items: center;
        }
        .loadInput{
            margin-bottom: 20px;
            position: relative;
            span{
                position: absolute;
                right: 67px;
                font-size: 12px;
                bottom: -20px;
            }
        }
    }

}

// background-color: #ff0000;
// height: 40px;
// width: 230px;
// border-radius: 8px;
// border: none;
// color: white;
// font-size: 20px;