@import '../../../../colors.scss';
.ChangedInput{
    position: relative;
    display: inline;
    input{width: 258px;}
    img{
        position: absolute;
        width: 20px;
        cursor: pointer;
    }
}
.ChangedInput.comment:hover::after{
    top:95%;
}
.ChangedInput.marquee span {
    color:$white-color;
    font-size:16px;
}