@import '../../../../../colors.scss';
.logs-table__header{
    td{
        cursor: pointer;
        
    }
    td:last-child{
        padding-right: 15px;
    }
}
.logs-table__arrow{
    z-index: -1;
    position: relative;
    top: 2px;
    width: 10px;
}

.logs-table__arrow_up{
    transform: rotate(-90deg);
}
.logs-table__arrow_down{
    transform: rotate(90deg);
}