@import '../components/colors.scss';

@mixin label($color) {
  width: 42px;
  height: 25px;
  font-size: 20px;
  line-height: 25px;
  border-radius: 10px;
  color: $black;
  background-color: $color;
  text-align: center;
  cursor: pointer;
}
