@import '../components/colors.scss';

@mixin label($color,$width,$height,$font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
  line-height: $height;
  border-radius: 10px;
  color: $black;
  background-color: $color;
  text-align: center;
  cursor: pointer;
}
