table{
    td{
        padding-top: 2px;
        padding-bottom: 2px;
    }
    td:first-of-type{
        padding-left: 15px;
    }
    
}
.Table__white-black{
    width: 100%;
    border-spacing: 0;
    tr:nth-child(n){
        background-color: $white-color;
    }
    tr:nth-child(2n){
        background-color: $lightGrey-color;
    }
    tr:not(:first-child):hover{
        cursor: pointer;
        color: $white-color;
        background-color: $lightGreyText-color-hover;
    }
    img{
        cursor: pointer;
    }
}
.Table{
    .icon{
        width: 34px;
    }
}