@import '../../colors.scss';
.Common__header{
    width: 100%;
    color: $white-color;
    height: auto;
    box-sizing: border-box;
    font-family: Gill Sans,Gill Sans MT,Calibri,Trebuchet MS,sans-serif;
   
    font-size: 16px;
    box-sizing: border-box;
    padding: 8px 0px 8px 8px;
    position: relative;
    &>button{
        color: $white-color;
    }
}

.Common__header_red{
    background-color: $red-color;
}
.Common__header_grey{
    background-color: $grey-color;

    
}
.Common__header_menu-item{
    padding: 3px 0 5px 17px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}