@import '../../../../colors.scss';
.time-filter-panel{
    .applyButton{
        height: 15px;
    }
    // background: palevioletred;
    &>div{
        background: white;
        width: 80%;
        margin: 0 auto;
        color: $black;
        box-shadow: 2px 2px 3px rgba(0,0,0,.15), 0 1px 6px rgba(0,0,0,.1);
        header{
            background: $red-color;
            display: flex;
            justify-content: space-between;
            padding: 5px 5px 5px 10px;
            color: $white-color;
            box-shadow: none;
            span{
                display: flex;
                img{margin-right: 7px;}
                
            }
            &>button{
                background-color: $red-color;
                border: none;
                img{
                    background-color: $red-color;
                }
            }
        }
 
        //это календарик
        &>div{
            margin: 0 auto;
        }
    }
    img{
        width: 20px;
    }

}
.time-filter-panel__collapsed{
    img{
        width: 20px;
        position: relative;
        left: 10px;
        bottom: -3px;
    }
}