@import '../../colors.scss';

.Visualization__acs{
    padding: 10px 10px 50px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .logs-table-wrapper{
        margin-bottom: 50px;
        width: 30%;
    }
    &>div:first-child{
        display: flex;
        width: 100%;
        .aside-panel{
            width: 200px;
            height: fit-content;
        }
        .logs-table-wrapper{
            flex: 2;
        }
    }
    // .devices-logs{
    //     margin-bottom: 25px;
    // }
    .table-wrapper{
        max-height: 210px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-bottom: 10px;
    }
    .filter{
        margin-bottom: 25px;
    }
    .Common__header{
        input[type=radio]{
            margin-left: 30px;
            margin-right: 5px;
        }
    }
}
@media screen and (max-width: 1500px) {
    .Visualization__acs .logs-table-wrapper{
        width: 50%;
    }
}
@media screen and (max-width: 950px) {
    .Visualization__acs .logs-table-wrapper{
        .table-wrapper,.showed-logs{
            margin-bottom: 20px;
        }
    }
}